<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User with id</title>
</head>
<body>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <span th:each="role : ${user.roles}" th:text="${#strings.replace(role.name, 'ROLE_', '')}"></span>
            </td>
        </tr>
        </tbody>
    </table>

</body>
</html>